{% extends 'layouts/base.html' %}
{% import 'macros/dashboard_option.html' as d %}

{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui header">
      Organization Dashboard
    </h2>
    <div class="ui two column stackable grid">
      {{ d.dashboard_option('Create/Edit Organization Details', 'org.edit_profile',
      description='Edit and preview your organization information', icon='info icon') }}
      {% if current_user.organizations | length > 0 %}
      {{ d.dashboard_option('View Organization Page', 'org.view_org', {'org_id': current_user.organizations[0].id},
      description='Edit and preview your organization information', icon='info icon') }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
