// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

h1, h2, h3, h4, h5, h6  {
  font-family: 'Oswald'
}

p {
  font-family: 'Open Sans';
}

.navbar.bg-dark {
  background-color: rgba(255, 255, 255, 1) !important;
  z-index: 2000;
}

p > a.text-black {
  text-decoration: none;
  border-bottom: 1px dashed #000;
  transition: all 0.15s
}

p > a.text-black:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.csv {
    margin-left: 4px;
    padding-top:0px;
    padding-bottom: 20px;
}

.tag-select {
    padding-top:10px;
    padding-bottom:15px;
    margin-right:1px;

}

.chooseTags {
    background-color: transparent !important;
    padding:1px;
}

.badge-info {
    font-size: 16px;
    padding:6px;
    padding-bottom:6px;
    font-family: 'Open Sans';
    margin-bottom: 4px;
    background-color: #f67547;
}

.badge-warning {
    font-size: 13px;
    padding:6px;
    font-family: 'Open Sans';
}

.search-block  {
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

// img cropping for search
.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    height: 200px;
}
// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
  .ui.vertical.menu {
    margin-top: 40px;
    display: none;
  }
}

// Flashes
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
  cursor: pointer !important;
}

.back-button {
  padding-bottom: 30px;
}

.positive {
  background-color: rgba(0,230,0, .3)
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.bgimage h1 {
  margin-top: 10vh;
  font-size: 72px;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color:white;
}
.bgimage-footer {
  h1 {

  margin-top: 10vh;
  font-size: 72px;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color:white;
  }
  p {

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
  padding-top: 20px;
  }
}
.bgimage p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
  padding-top: 20px;
}
.tag {
  font-family: 'Oswald', sans-serif;
  display:inline-block;
  font-size: 20px;
  padding: 15px 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: white;
  border: 2px solid white;
  transition: all 200ms;
}

.tag:hover {
  background-color: #FFF;
  color: blue;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  padding-bottom: 10px;
  font-size: 24px;
  border-bottom: 4px solid #2F80ED 
}

h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F2994A 
}

.edit {
  float:right
}
.edit > a {
  margin-top: 10vh;
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.frontpage-search::placeholder{
    color: white
}

.frontpage-search  {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #FFF;
  border-radius: 0px;
  box-shadow: none;
  color: #FFF !important;
  font-family: 'Open Sans';
  font-size: 24px;
}

.frontpage-search::placeholder{
  color: #FFF !important;
}


.img-contain {
  position: relative;
  min-height: 600px;
  height: 100%;
}
.img {
  min-height: 100%;
  min-width: 100%;
}
section {
 .col-md-6 {
  padding-left: 0px;
  padding-right: 0px
  }

}
.txt-contain {
  position: relative;
  min-height: 600px;
}

.content-tile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  p {
    line-height: 36px
  }
}

.overlay {
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%
}
