{% extends 'layouts/base.html' %}
{% block custom_scripts %}
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:300,400,500,700" rel="stylesheet">
{% endblock %}
{% block content %}
<style>

.bgimage {
  width:100%;
  min-height:600px;
  padding-bottom: 80px;
  background: linear-gradient(105.95deg, rgba(32, 123, 245, 0.75) 100.19%, rgba(32, 123, 245, 0.75) 100.19%, rgba(32, 123, 245, 0.75) 100.19%),
     url(/static/images/hiphop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

</style>
<section class="bgimage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 " style="height: 100%">
        <h1>ArtsLink</h1>
        <p>Connecting children and families with quality arts experiences through their neighborhoods.</p>
            <div class="tag" onclick="window.location.href = '{{ url_for('main.search') }}';">Click Here To Browse or Search for Programs</div>
        <p style="font-size: 16px" class="text-white">Are you a Philadelphia-based arts and culture institution, arts education program, or teaching artist?  <a class="text-white" style="border-bottom: 1px dashed #FFF" href="{{ url_for('account.register') }}">Register</a></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="img-contain">
          <div class="img" style="background: linear-gradient(0deg, rgba(133, 114, 173, 0.78), rgba(133, 114, 173, 0.78)), url(/static/images/square1.png) no-repeat; background-size: cover">
          </div>
          <div class="overlay">
            <h1 style="font-size: 80px">88%</h1>
            <p style="font-size: 20px">of Americans believe that the arts<br>are part of a well-rounded K-12 education</br></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 content-tile">
        <div class="row">
          <div class="col-md-8 offset-md-1">
            <h1>ABOUT</h1>
            <p>ArtsLink is free web tool that helps neighborhood programs and facilities discover high quality arts and cultural experiences for their communities. The goal of ArtsLink is to promote community connectivity and wellbeing through increased arts education and instruction opportunities in neighborhoods throughout Philadelphia.<p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 content-tile">
        <div class="row">
          <div class="col-md-8 offset-md-1">
            <h1>FOR EDUCATORS</h1>
            <p style="font-size: 16px" class="text-black">ArtsLink is a tool to help you find the best arts education programming or arts and culture activities for your participants.  <a class="text-black" style="border-bottom: 1px dashed #000" href="{{ url_for('main.search') }}">Click to Search</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-contain">
          <div class="img" style="background: linear-gradient(0deg, rgba(133, 114, 173, 0.78), rgba(133, 114, 173, 0.78)), url(/static/images/square2.jpg) no-repeat; background-size: cover;">
          </div>
          <div class="overlay">
            <h1 style="font-size: 80px">73%</h1>
            <p style="font-size: 20px">of the population believe the arts provide<br>a positive experience even in difficult times</br></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-contain">
          <div class="img" style="background: linear-gradient(0deg, rgba(133, 114, 173, 0.78), rgba(133, 114, 173, 0.78)), url(/static/images/square3.jpg) no-repeat; background-size: cover;">
          </div>
          <div class="overlay">
            <h1 style="font-size: 80px">62%</h1>
            <p style="font-size: 20px">of the population agree that the arts<br>help us better understand other cultures</br></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 content-tile">
        <div class="row">
          <div class="col-md-8 offset-md-1">
            <h1>FOR ARTS ORGANIZATIONS</h1>
            <p style="font-size: 16px" class="text-black">ArtsLink is a tool to promote your offerings to more programs and schools across Philadelphia. <a class="text-black" style="border-bottom: 1px dashed #000" href="{{ url_for('account.register') }}">Click to Register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'partials/_footer.html'%}
{% endblock %}
