{% extends 'layouts/base.html' %}

{% block content %}
    {% for o in orgs %}
    {% print o.tags %}
    {% endfor %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Search Within Registered Organizations
                <div class="sub header">
                    Tag or Text Search
                </div>
            </h2>
            <div>
            <div class="ui menu">

                <select id="chooseTags" class="ui fluid search dropdown" multiple="">
                    {% for t in tags %}
                        {%print(t)%}
                            <option value="{{ t.tag_name }}">{{ t.tag_name}} </option>
                    {% endfor %}
                </select>
            </div>
             <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-orgs" type="text" placeholder="Search orgs…">
                        <i class="search icon"></i>
                    </div>
             </div>
            </div>


            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Email address</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for o in orgs | sort(attribute='name') %}
                                {{ set classSet = [] %}}
                                <tr>
                                <td>{{ o.name }}</td>
                                <td>{{ o.email }}</td>
                                    {% for tag in o.tags %}
                                        {% classSet.append(tag.tags.tag_name) %}
                                    {% endfor %}
                                    <td class="classes" style="display: none;">{{ " ".join(classSet) }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script type="text/javascript">
        $(document).ready(function () {
            $('#chooseTags').change(function() {
               var tags = $(this).val();
               console.log(assoc);
               console.log(tags);
               for (curr in assoc) {
                   $('tbody td:icontains(' + searchText + ')').addClass('positive');
                   $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                   console.log(tags[tag]);
               }
            })


            $('#search-orgs').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}