{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Search Within Registered Organizations
                <div class="sub header">
                    Tag or Text Search
                </div>
            </h2>
            <div class="ui menu">
                 <div class="ui search item">
                    <div class="ui transparent icon input">
                        <input id="search-orgs" type="text" placeholder="Search orgs…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
                <div class="ui item">
                <select id="chooseTags" class="ui fluid search dropdown" multiple="">
                    {% for t in tags %}
                        {%print(t)%}
                            <option value="{{ t.tag_name }}">{{ t.tag_name}} </option>
                    {% endfor %}
                </select>
                </div>
                <div class ="ui right item">
                    <button class="ui button" id="search">Filter by Tag</button>
                </div>


            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Email address</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for o in orgs | sort(attribute='name') %}
                                <tr onclick="window.location.href = '{{ url_for('org.view_org', org_id=o.id) }}';">
                                {% for tag in  o.tags %}
                                      <input type="hidden" name="country" value="Norway" class="{{ tags[tag.tag_id - 1].tag_name }}">
                                {% endfor %}
                                <td>{{ o.name }}</td>
                                <td>{{ o.email }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        .hidden {
            display:none;
        }

    </style>
        <script type="text/javascript">
            $('tr').each(function() {
                $(this).attr('data-search-match', true);
                $(this).attr('data-tag-match', true);
            })

            $('#search-orgs').keyup(function () {
{#                var searchText = $(this).val();#}
{#                if (searchText.length > 0) {#}
{#                    $('tbody tr:icontains(' + searchText + ')').removeClass('positive').addClass('positive');#}
{#                    $('tr.positive').not(':icontains(' + searchText + ')').removeClass('positive');#}
{#                    $('tbody tr').not(':icontains(' + searchText + ')').closest('tr').removeClass('hidden').addClass('hidden')#}
{#                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden')#}
{#                } else {#}
{#                    if (!$('#chooseTags').val()) {#}
{#                        $('tr.positive').removeClass('positive');#}
{#                        $('tr.hidden').removeClass('hidden')#}
{#                    }#}
{#                }#}
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody tr:icontains(' + searchText + ')').attr('data-search-match', true);
                    $('tbody tr').not(':icontains(' + searchText + ')').closest('tr').attr('data-search-match', false);
                } else {
                    $('tbody tr').attr('data-search-match', true);
                }
            });
            $('#chooseTags').change(function () {
                var searchText = $(this).val();
                var currTag;
                console.log(searchText);
                if(searchText) {

                    $('tbody tr:icontains(' + currTag + ')').attr('data-tag-match', false);

                    for(tag in searchText) {
                        currTag = '.' + searchText[tag];
                        $(currTag).closest('tr').attr('data-tag-match', true);
                    }
                } else {
                    $('tr').each(function() {
                        $(this).attr('data-tag-match', true);
                    })
                }
            });

            setTimeout(function resolver() {
                $('tr').each(function() {
                    var tag = $(this).attr('data-tag-match');
                    var search = $(this).attr('data-search-match');
                    console.log(tag, search);
                    if ((tag === "true") && (search === "true")) {
                        $(this).removeClass('hidden').removeClass('positive').addClass('positive');
                    } else {
                        $(this).removeClass('hidden').removeClass('positive').addClass('hidden');
                    }
                })
            }, 1000);
        </script>
{% endblock %}