<p>Dear {{ user.full_name() }},</p>

<p>To confirm your new email address <a href="{{ change_email_link }}">click here</a>.</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p>{{ change_email_link }}</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>

<p><small>ArtsLink is managed by the City of Philadelphia Office of Arts, Culture and the Creative Economy, and one of its initiatives to help close the gap in access to quality arts education, creative opportunities, and cultural experiences.</small></p>