<p>Dear {{ user.full_name() }},</p>

<p>You are invited to join <b>{{ config.APP_NAME }}</b>!</p>

<p>What’s ArtsLink? ArtsLink is a free resource for Philadelphians to discover arts programs from local organizations like yours that best fit their needs or the needs of their community.</p>

<p>To register and set your password, please <a href="{{ invite_link }}">click here</a>.</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p>{{ invite_link }}</p>

<p>Once completed, please log in as {{ user.email }} with the password you set, and create an account to promote your organization and the arts programs you offer!</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>

<p><small>ArtsLink is managed by the City of Philadelphia Office of Arts, Culture and the Creative Economy, and one of its initiatives to help close the gap in access to quality arts education, creative opportunities, and cultural experiences.</small></p>